@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #101010;
            font-family: Arial, sans-serif;
        }

        .loading-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
            border: 1px solid #292929;
            border-radius: 10px;
            background-color: #111111;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .logo {
            width: 100px;
            height: 100px;
            background-image: url('logo.png'); 
            background-size: cover;
            background-position: center;
            margin-bottom: 20px;
        }


        .loading-bar {
            width: 100%;
            height: 10px;
            background-color: #2a2a2a;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
        }

        .loading-bar-fill {
            border-radius: 250px;
            width: 100%;
            height: 100%;
            background-color: #6c34db;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            animation: loading 3s ease-in-out infinite;
        }

        @keyframes loading {
            0% { transform: translateX(-100%); }
            50% { transform: translateX(0); }
            100% { transform: translateX(100%); }
        }

        .warnpopup {
            width: 430px;
            display: none;
            justify-content: center;
            align-items: center;
            height: 350px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            border: 1px solid #292929;
            background-color: rgb(21, 21, 21);
            text-align: center;
            font-family: "Montserrat", sans-serif;
            color: white;
            flex-direction: column;
            z-index: 99999;
            position: fixed;
            top: 50;
            left: 50;
        }

        .button_warn {
            width: 250px;
            height: 50px;
            color: white;
            font-family: "Montserrat", sans-serif;
            border-radius: 10px;
            background-color: #6c34db;
        }