@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #111111;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute  ;
    width: 100%;
    height: 100%;
    z-index: -5;
    background-color: #111111;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    top: 0;
    left: 0;
}

.Mainbar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 10px 10px 45px rgba(0, 0, 0, 0.213);
    background-color: #111111;
}

.SonarLogo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.Actionbar {
    width: 75%;
    height: 60px;
    background-color: transparent;
}

.actionbuttons {
    width: 25%;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PageButton {
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: none;
}